:root {
   --background-color1: #1f2937;
   --background-color2: #e5e7eb;
   --background-color3: #3882f6;
   --text-color1: #f9faf8;
   --text-color2: #e5e7eb;
   --text-color3: #1f2937; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color1);
    background: linear-gradient(to bottom left, var(--background-color1) 50%, #30455b, #485d77);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav .logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--text-color1);
    font-size: 24px;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav li {
    display: flex;
    flex-shrink: 0;
}

.nav a {
    text-decoration: none;
    color: var(--text-color2);
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.nav a:hover {
    color: #b3d1ff;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 250px;

}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: auto;
    flex-shrink: 0;
}

.hero-img {
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-img figure {
    border-radius: 3px;
    border: 10px solid black 0.5;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
}

.hero-img figcaption {
    margin-top: 10px;
    text-align: center;
}

.hero-container h1 {
    color: var(--text-color1);
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.hero-container p, figcaption, a {
    font-size: 18px;
    color: var(--text-color2);
    margin-bottom: 20px;
}

.hero-text a {
    background-color: var(--background-color3);
    padding: 10px;
    text-align: center;
    width: 150px;
    border-radius: 15px;
    border: 1px solid black;
    text-decoration: none;
    color: var(--text-color2);
    transition: 0.2s ease-in-out;
}

.hero-text a:hover {
    background-color: #4d8bf9;
}

/* End of header */

/* MAIN */

/* Section: Social Proof */

.testimonials-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    gap: 30px;
    flex-wrap: wrap;
}

.social-proof-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #f9f9f9;
    border: 2px solid var(--background-color3);
    box-shadow: 0 0 10px 5px var(--background-color3);
    border-radius: 8px;
    padding: 2px;
    max-width: 300px;
    margin: 0 auto;
    height: 400px;
    transition: 0.3s ease-in-out;
}

.social-proof-box:hover {
    transform: translateY(-10px);
}

.avatar {
    width: 64px;
    height: 64px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    flex: 1;
    color: var(--text-color3)
}

.name {
    font-weight: bold;
    font-size: 24px;
}

.testimonial {
    margin: 0;
    font-size: 18px;
}

.rating {
    font-size: 24px;
}

#social-proof h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: 900;
    color: var(--background-color1);
}

/* End of section */

/* Section: Testimonial */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: var(--background-color2);
}

.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    width: 60%;
    color: var(--text-color3);
}

.quotee {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 50px;
    color: var(--text-color3);
}

/* End of section */

/* Section: How It Works */

#how-it-works {
    text-align: center;
    color: var(--text-color1);
    background: linear-gradient(to bottom, #1e5799 50%, #ffffff 50%);
}

.hit-title {
    font-size: 36px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 10px;
}

.hit-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.hit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.hit-box {
    position: relative;
    background-color: #f9f9f9;
    margin-top: 50px;
    padding: 30px 20px;
    border-radius: 8px;
    text-align: center;
    color: var(--text-color3);
    width: 300px;
    height: 500px;
    transition: 0.3s ease-in-out;
}

.hit-box:hover {
    transform: translateY(-10px);
}

.semi-circle {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.hit-icon {
    margin-bottom: 20px;
}

.hit-box-description {
    font-size: 18px;
}

/* End of section */

/* Section: Call to Action */

.cta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color2);
    color: var(--text-color2);
    padding: 100px;
}

.cta-container {
    background-color: var(--background-color3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 50px 100px;
    border-radius: 10px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.cta-text h1 {
    font-size: 24px;
}

.cta-text p {
    font-size: 18px;
}

.cta-button {
    display: flex;
    margin-top: 20px;
}

.cta-button a {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 8px;
    text-align: center;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.cta-button a:hover {
    background-color: #4d8bf9;
}

/* End of section */

/* End of MAIN */

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    background-color: var(--background-color1);
    color: var(--text-color2);
}

.left-footer p {
    margin-bottom: 5px;
}

.left-footer ul {
    list-style-type: none;
}

.right-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.right-footer-links ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

.right-footer-links a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.right-footer-links a:hover {
    color: #b0b4b9;
}

/* End of footer */